button,a.btn-custom{
	background: $color-primary;
	color: #FFF;	
	font-weight: bold;
	padding: 10px 80px;
	border: none;
	
	&:hover{
		color: #FFFFFF;
		background: #f7768e;
	}
	&:active{
		border-bottom: 3px solid $bg-secundary;
	}
}